<h1> Map Goes Here</h1>

<% content_for :head do %>
  hello
<% end %>
    <!-- <iframe src="http://openchargemap.org/app/?mode=embedded" width="800" height="600"></iframe> -->
<!-- <div>
  <h3>Watt Time Data</h3>
  <p>name: <%= @name %></p>
  <p>carbon: <%= @carbon %></p>
  <ol>
    <% @response.each do |d| %>
      <li>
        <%= d["timestamp"] %> <%= d["carbon"] %>
      </li>
    <% end %>
  </ol>
<hr/>
<%= @response %>

</div> -->

<span id="carbon">

</span>
<%= data = raw(@response.to_json) %>;

<%= metrics_graphic_for JSON.parse(data), target: '#carbon', title: "Carbon Emission (lb per MW)", description: "This graphic shows a time-series of carbon.", width: 600, height: 250, x_accessor: 'timestamp', y_accessor: 'carbon', time_format: '%Y-%m-%dT%H:%M:%SZ'
 %>
