<div id="map-window">
<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
          <li><a href="#about" role="tab"><i class="fa fa-bars"></i></a></li>
          <li><a href="#carbon" role="tab"><i class="fa fa-area-chart"></i></a></li>
          <li><a href="#marginal" role="tab"><i class="fa fa-line-chart"></i></a></li>
          <li><a href="#genmix" role="tab"><i class="fa fa-pie-chart"></i></a></li>
          <li><a href="#comparison" role="tab"><i class="fa fa-bar-chart"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
      <div class="sidebar-pane" id="about">
          <h1 class="sidebar-header">Energy Data<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
          <h4>Explore Your Local Data</h4>
          <p>Why it is important to research your local energy.</p>
          <p>What is a balancing authority? What does this mean?</p>
          <p>Click on the station markers to see the data of the corresponding balancing authority at this moment in time.</p>
          <%= render partial: "shared/about" %>
      </div>

      <div class="sidebar-pane" id="carbon">
        <h1 class="sidebar-header">Energy Data<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        <h4>Carbon Emissions</h4>
          <p>This shows the real time emission of carbon from your local power grid measured in pounds of carbon per megawatt of electricity produced.</p>
          <%= render partial: "shared/carbon" %>
      </div>

      <div class="sidebar-pane" id="marginal">
        <h1 class="sidebar-header">Energy Data<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        <h4>Marginal Carbon Emissions</h4>
          <p>This is how you as an individual can affect change in your local balancing authority. Use electricity when this marginal carbon is low.</p>
          <%= render partial: "shared/marginal" %>
      </div>

      <div class="sidebar-pane" id="genmix">
        <h1 class="sidebar-header">Energy Data<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        <h4>Explore Your Local Data</h4>
          <p>Each local power grid has its own combination of fuel sources. These fuels make up variable percentages of total energy produced based on the time of day, weather, power demand, and other factors.</p>
          <p>Currently this is only available for PSEI</p>
          <%= render partial: "shared/genmix" %>
      </div>

      <div class="sidebar-pane" id="comparison">
        <h1 class="sidebar-header">Energy Data<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        <h4>How Your Fuel Right Now Compares</h4>
          <p>Here, we want to explore the MPG equivalent of using electricity right now to fuel your car. Ultimately, this is what matters when calculating your personal carbon emissions.</p>
          <%= render partial: "shared/comparison" %>
      </div>
    </div>
</div>

<div class="wrapperloading">
  <div class="loading up"></div>
  <div class="loading down"></div>
</div>

<div id="map" class="sidebar-map">
  <div id='inputs'></div>
  <div id='errors'></div>
  <div id='directions'>
    <div id='routes'></div>
    <div id='instructions'></div>
  </div>
</div>

<div class="directions-icon">
  <%= button_to "Get Directions" %>
</div>
</div>
