<div class="container user-center" >
  <h2 class="user-title">Hey, <%= @user.first_name %>!</h2>
  <h5>Thanks for stopping by. We think you're rad. </h5>
  <table class="table table-hover tablau">
    <tr>
      <td>email</td>
      <td><%=@user.email %></td>
    </tr>
    <tr>
      <td>first name</td>
      <td><%=@user.first_name %></td>
    </tr>
    <tr>
      <td>last name</td>
      <td><%=@user.last_name %></td>
    </tr>
    <tr>
      <td>zip code</td>
      <td><%=@user.zip_code %></td>
    </tr>
    <tr>
      <td>telephone</td>
      <td><%=@user.telephone %></td>
    </tr>
  </table>
  <%= link_to "Edit My Details", edit_user_registration_path, class:"btn black-button" %>

</div>
