<!DOCTYPE html>
<html>
<head>
  <title>ChargeIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script></head>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<body>
  <%= render 'shared/navbar' %>
  <div class='container'>
    <%= yield %>
    <%= yield :head %>
  </div>
</body>
</html>
